.configuration {
	padding: $brick-padding;
	h3 {
		margin-bottom: 25px;
		font-weight: $extralightFont;
		span {
			color: $red;
			font-weight: $semiboldFont;
		}
	}
	&__description {
		padding-bottom: 50px;
		border-bottom: 1px solid #EBEBEB;
		.cta-icon {
			display: none;
			@media (min-width: $tablet-min) {
				display: inline-flex;
			}
			&_mobile {
				display: inline-flex;
				margin-top: 20px;
				@media (min-width: $tablet-min) {
					display: none;
				}
			}
		}
		&_no-border {
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	&__settings {
		padding-top: 40px;
		padding-bottom: 60px;
		border-bottom: 1px solid #EBEBEB;
		margin-bottom: 40px;
		h3 {
			font-size: 22px;
			font-weight: 400;
			margin-bottom: 10px;
			@media (min-width: $tablet-min) {
				font-size: 30px;
			}
		}
	}
	&__form {
		input {
			display: block;
			border: 1px solid #E0E0E0;
			background: #F8F8F8;
			width: 100%;
			margin-bottom: 20px;
			font-size: 16px;
			padding: 12px 20px
		}
	}
	&__auto {
		margin: 60px 0;
		background-color: #F8F8F8;
		border-radius: 5px;
		border: 1px solid #E0E0E0;
		display: flex;
		flex-wrap: wrap;
	}
	&__auto-logo {
		background-color: $white;
		padding: 15px;
		width: 100%;
		border-radius: 5px 5px 0 0;
		border-bottom: 1px solid #E0E0E0;
		text-align: center;
		@media (min-width: $tablet-min) {
			border-right: 1px solid #E0E0E0;
			max-width: 200px;
			border-radius: 5px 0 0 5px;
			padding: 30px;
		}
	}
	&__auto-data {
		padding: 30px;
		border-radius: 0 5px 5px 0;
		width: 100%;
		@media (min-width: $tablet-min) {
			width: calc(100% - 200px);
		}
		h4 {
			padding-bottom: 25px;
			border-bottom: 1px solid #E0E0E0;
			margin-bottom: 20px;
		}
	}
	&__auto-row {
		display: flex;
		span {
			&:first-child {
				min-width: 200px;
			}
		}
	}
}

.settings {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 30px;
		border-radius: 5px 5px 0 0;
		background-color: #EAEAEA;
		h5 {
			font-size: 20px;
			font-weight: $semiboldFont;
			margin: 0;
		}
		span {
			display: none;
			@media (min-width: $tablet-min) {
				display: inline-block;
			}
			a {
				text-decoration: underline;
				color: $primaryColor;
			}
		}
	}
	&__list {
		background-color: #F8F8F8;
		padding: 30px 15px 20px 15px;
		border-radius: 0 0 5px 5px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__item {
		width: 100%;
		padding: 0 15px;
		@media (min-width: $mobile-min) {
			width: 50%;
		}
		@media (min-width: $desktop-min) {
			width: 20%;
		}
		a {
			background-color: $red;
			display: block;
			text-align: center;
			font-size: 20px;
			font-weight: $boldFont;
			border-radius: 5px;
			padding: 11px;
			&:hover {
				background-color: $darkRed;
			}
		}
	}
}