.choose-tuning {
	padding: $brick-padding;
	&__header {
		text-align: center;
		padding-bottom: 20px;
		position: relative;
		&:after {
			content: '';
			display: block;
			height: 5px;
			background-color: #EBEBEB;
			border-radius: 5px;
			@media (min-width: $tablet-min) {
				display: none;
			}
		}
		@media (min-width: $tablet-min) {
			border: none;
		}
		p {
			margin-bottom: 15px;
		}
		h3 {
			font-weight: $extralightFont;
			margin: 0;
			span 	{
				color: $red;
				font-weight: $semiboldFont;
			}
		}
	}
	&__notification {
		text-align: center;
		padding: 10px 25px;
		background-color: #FFF3CD;
		border: 1px solid #FFEEBA;
		border-radius: 6px;
		margin-bottom: 25px;
		p {
			margin: 0;
			color: #856404;
		}
		@media (min-width: $tablet-min) {
			display: none;
		}
	}
}//choose-tuning

.choose-accordion {
	.card {
		margin-bottom: 10px;
		border: none;
		box-shadow: none;
	}
	.card-header {
		border: none;
		padding: 0;
		display: flex;
		border: 1px solid #EBEBEB;
		border-radius: 5px;
		@media (min-width: $tablet-min) {
			display: block;
			border: none;
		}
		button {
			padding: 15px 25px;
			width: 100%;
			outline: none;
			display: flex;
			flex-direction: column;
			align-items: inherit;
			text-align: left;
			font-weight: $semiboldFont;
			border-radius: 5px;
			color: $primaryColor;
			@media (min-width: $tablet-min) {
				justify-content: space-between;
				align-items: center;
				flex-direction: row;
				color: $white;
				background-color: $red;
			}
			&.collapsed {
				
				@media (min-width: $tablet-min) {
					background-color: rgba(200, 0, 26, .7);
					opacity: .7;
				}
				+ .card-header__icon {
					i {
						transform: rotate(0);
					}
				}
			}
			@media (min-width: $desktop-min) {
				font-size: 18px;
			}
		}
		&__icon {
			padding: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $red;
			border-radius: 0 5px 5px 0;
			i {
				transition: .3s;
				transform: rotate(180deg);
				color: $white;
				font-size: 18px;
			}
			@media (min-width: $tablet-min) {
				display: none;
			}
		}
	}
	.card-body {
		padding: 0;
	}
}//choose-accordion

.order-data {
	display: flex;
	@media (min-width: $tablet-min) {
		width: 40%;
		justify-content: space-between;
	}
	&__price {
		margin-left: 10px;
		padding-left: 10px;
		position: relative;

		&:before {
			content: '';
			height: 10px;
			width: 2px;
			display: block;
			background-color: #A0A0A0;
			position: absolute;
			left: 0;
			bottom: 7px;
			@media (min-width: $tablet-min) {
				display: none;
			}
		}
		@media (min-width: $tablet-min) {
			margin: 0;
			padding: 0;
		}
	}
}
.order-name {
	width: 100%;
	display: block;
	padding-bottom: 3px;
	border-bottom: 1px solid #EBEBEB;
	margin-bottom: 3px;
	@media (min-width: $tablet-min) {
		width: 60%;
		border: none;
		padding: 0;
	}
}
.striped-list {
	
}
.striped-item {
	display: flex;
	padding: 12px 25px;
	border-radius: 5px;
	&:nth-child(even) {
		background-color: #F8F8F8;
	}
	.order-name {
		border: none;
	}
	.order-data {
		&__price {
			&:before {
				display: none;
			}
		}
	}
}

.card-body {
	.striped-item {
		padding: 5px 10px;
		align-items: center;
		@media (min-width: $tablet-min) {
			padding: 12px 25px;
		}
	}
	.order-data {
		flex-direction: column;
		align-items: flex-end;
		@media (min-width: $tablet-min) {
			flex-direction: row;
		}
		.credit,
		.order-data__price {
			line-height: 1.2;
			font-size: 13px;
			@media (min-width: $tablet-min) {
				font-size: 16px;
				line-height: 25px;
			}
		}
	}
	.order-name {
		margin: 0;
	}
}

.label-checkbox-wrap {
	position: relative;
	display: block;
	padding-left: 35px;
	cursor: pointer;
	margin: 0;
	
	@media (min-width: $tablet-min) {
		padding-left: 25px;
	}
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked ~ .label-checkbox {
			background: $white;
			border: 1px solid #E2E2E2;
			border-radius: 5px;
			text-align: center;
			&:after {
				content: "\f00c";
				display: block;
				font-family: "Font Awesome 5 Pro";
				font-weight: 900;
				font-size: 14px;
				margin-left: 3px;
				color: $red;
				@media (min-width: $tablet-min) {
					font-size: 11px;
				}
			}
		}
	}
	.label-checkbox {
		position: absolute;
		height: 25px;
		width: 25px;
		left: 0;
		top: 0;
		background-color: $white;
		border: 1px solid #E2E2E2;
		border-radius: 5px;
		@media (min-width: $tablet-min) {
			height: 15px;
			width: 15px;
			top: 5px;
			left: 0;
		}
		&:after {
			content: "";
			position: absolute;
			display: none;
			top: 0px;
			left: 3px;
			@media (min-width: $tablet-min) {
				top: -6px;
				left: -2px;
			}
		}
	}
}

















