.choose-tuning {
	padding: $brick-padding;
	&__header {
		text-align: center;
		padding-bottom: 20px;
		position: relative;
		&:after {
			content: '';
			display: block;
			height: 5px;
			background-color: #EBEBEB;
			border-radius: 5px;
			@media (min-width: $tablet-min) {
				display: none;
			}
		}
		@media (min-width: $tablet-min) {
			border: none;
		}
		p {
			margin-bottom: 15px;
		}
		h3 {
			font-weight: $extralightFont;
			margin: 0;
			span 	{
				color: $red;
				font-weight: $semiboldFont;
			}
		}
	}
	&__notification {
		text-align: center;
		padding: 10px 25px;
		background-color: #FFF3CD;
		border: 1px solid #FFEEBA;
		border-radius: 6px;
		margin-bottom: 25px;
		p {
			margin: 0;
			color: #856404;
		}
		@media (min-width: $tablet-min) {
			display: none;
		}
	}

	&__login {
		padding: 5px 5px 5px 10px;
		background: #FAFAFA;
		border: 1px solid #F0F0F0;
		border-radius: 5px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 20px;
		@media (min-width: $tablet-min) {
			padding: 10px 10px 10px 20px;
			margin-bottom: 30px;
		}
		.login-wrap {
			display: flex;
			align-items: center;
			.cta-icon_right .cta-icon__text {
				@media (max-width: 767px) {
					padding: 10px 20px;
					font-size: 16px;
				}
			}
			p {
				font-weight: $semiboldFont;
				margin: 0 20px 0 0;
				font-size: 16px;
				@media (min-width: $tablet-min) {
					font-size: 20px;
					font-weight: $lightFont;
				}
				span {
					@media (max-width: $mobile-min) {
						display: none;
					}
				}
			}
		}
		.cta-icon_facebook {
			@media (max-width: 991px) {
				display: none;
			}
		}
	}
	input {
		display: block;
		border: 1px solid #E0E0E0;
		background: #F8F8F8;
		width: 100%;
		margin-bottom: 10px;
		font-size: 16px;
		padding: 5px 15px;
		@media (min-width: $tablet-min) {
			padding: 12px 20px
		}
	}
}//choose-tuning

.choose-accordion {
	.card {
		margin-bottom: 10px;
		border: none;
		box-shadow: none;
	}
	.card-header {
		border: none;
		padding: 0;
		display: flex;
		border: 1px solid #EBEBEB;
		border-radius: 5px;
		@media (min-width: $tablet-min) {
			display: block;
			border: none;
		}
		button {
			padding: 15px 25px;
			width: 100%;
			outline: none;
			display: flex;
			flex-direction: column;
			align-items: inherit;
			text-align: left;
			font-weight: $semiboldFont;
			border-radius: 5px 5px 0 0;
			color: $primaryColor;
			&.collapsed {
				border-radius: 5px;
			}
			@media (min-width: $tablet-min) {
				justify-content: space-between;
				align-items: center;
				flex-direction: row;
				color: $white;
				background-color: $red;
			}
			&.collapsed {
				
				@media (min-width: $tablet-min) {
					background-color: rgba(200, 0, 26, .7);
					opacity: .7;
				}
				+ .card-header__icon {
					i {
						transform: rotate(0);
					}
				}
			}
			@media (min-width: $desktop-min) {
				font-size: 18px;
			}
		}
		&__icon {
			padding: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $red;
			border-radius: 0 5px 5px 0;
			i {
				transition: .3s;
				transform: rotate(180deg);
				color: $white;
				font-size: 18px;
			}
			@media (min-width: $tablet-min) {
				display: none;
			}
		}
	}
	.card-body {
		padding: 0;
	}

	&_form {
		.card-header {
			h5 {
				width: 100%;
			}
			button {
				padding: 0;
				text-decoration: none;
				justify-content: flex-start;
				color: $white;
				background-color: $red;
				display: flex;
				flex-direction: row;
				align-items: center;
				.step-number {
					font-size: 20px;
					font-weight: $semiboldFont;
					padding: 10px 20px;
					background-color: $darkRed;
					width: 50px;
					margin-right: 10px;
					border-radius: 5px 0 0 5px;
				}
				i {
					display: none;
				}
			}
			button.step-first.submited,
			button.step-second.submited,
			button.step-third.submited {
				background-color: $green;
				opacity: .7;
				border-radius: 5px;
				i {
					display: block;
					position: absolute;
					right: 15px;
					top: 15px;
					font-size: 24px;
				}
				.step-number {
					background-color: $darkGreen;
				}
			}
		}
		.card-body {
			background: $white;
			box-shadow: 0px 7px 20px -9px rgba(0,0,0,0.75);
			padding: 30px 0;
			border-radius: 0 0 5px 5px;
			margin-bottom: 50px;
			.container-fluid {
				max-width: 860px;
			}
			input,
			.text-field {
				width: 100%;
				display: block;
				margin-bottom: 10px;
				border: 1px solid #E0E0E0;
				border-radius: 5px;
				padding: 12px 20px;
				color: $primaryColor;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #A2A2A2;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: #A2A2A2;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: #A2A2A2;
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: #A2A2A2;
				}
			}
			.text-field {
				min-height: 100px;
				@media (min-width: $tablet-min) {
					min-height: 200px;
				}
			}
			.cta-icon {
				min-width: 240px;
				.cta-icon__text {
					width: calc(100% - 50px);
				}
			}
			.input-group {
				border: 1px solid #E0E0E0;
				border-radius: 5px;
				margin-bottom: 10px;
				.custom-select {
					color: #A2A2A2;
				}
				.input-group-text {
					&_active {
						background-color: $green;
					}
					i {
						color: $white;
					}
				}
			}
			.third-step {
				max-width: 570px;
				margin: 0 auto;
			}
		}
		.submit-wrap {
			margin-top: 20px;
		}
	}//end choose-accordion_form
}//choose-accordion

.order-data {
	display: flex;
	@media (min-width: $tablet-min) {
		width: 40%;
		justify-content: space-between;
	}
	&__price {
		margin-left: 10px;
		padding-left: 10px;
		position: relative;

		&:before {
			content: '';
			height: 10px;
			width: 2px;
			display: block;
			background-color: #A0A0A0;
			position: absolute;
			left: 0;
			bottom: 7px;
			@media (min-width: $tablet-min) {
				display: none;
			}
		}
		@media (min-width: $tablet-min) {
			margin: 0;
			padding: 0;
		}
	}
}
.order-name {
	width: 100%;
	display: block;
	padding-bottom: 3px;
	border-bottom: 1px solid #EBEBEB;
	margin-bottom: 3px;
	@media (min-width: $tablet-min) {
		width: 60%;
		border: none;
		padding: 0;
	}
}
.striped-list {
	
}
.striped-item {
	display: flex;
	padding: 12px 25px;
	border-radius: 5px;
	&:nth-child(even) {
		background-color: #F8F8F8;
	}
	.order-name {
		border: none;
	}
	.order-data {
		&__price {
			&:before {
				display: none;
			}
		}
	}
}

.card-body {
	.striped-item {
		padding: 5px 10px;
		align-items: center;
		@media (min-width: $tablet-min) {
			padding: 12px 25px;
		}
	}
	.order-data {
		flex-direction: column;
		align-items: flex-end;
		@media (min-width: $tablet-min) {
			flex-direction: row;
		}
		.credit,
		.order-data__price {
			line-height: 1.2;
			font-size: 13px;
			@media (min-width: $tablet-min) {
				font-size: 16px;
				line-height: 25px;
			}
		}
	}
	.order-name {
		margin: 0;
	}
}

.label-checkbox-wrap {
	position: relative;
	display: block;
	padding-left: 35px;
	cursor: pointer;
	margin: 0;
	
	@media (min-width: $tablet-min) {
		padding-left: 25px;
	}
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		&:checked ~ .label-checkbox {
			background: $white;
			border: 1px solid #E2E2E2;
			border-radius: 5px;
			text-align: center;
			&:after {
				content: "\f00c";
				display: block;
				font-family: "Font Awesome 5 Pro";
				font-weight: 900;
				font-size: 14px;
				margin-left: 3px;
				color: $red;
				@media (min-width: $tablet-min) {
					font-size: 11px;
				}
			}
		}
	}
	.label-checkbox {
		position: absolute;
		height: 25px;
		width: 25px;
		left: 0;
		top: 0;
		background-color: $white;
		border: 1px solid #E2E2E2;
		border-radius: 5px;
		@media (min-width: $tablet-min) {
			height: 15px;
			width: 15px;
			top: 5px;
			left: 0;
		}
		&:after {
			content: "";
			position: absolute;
			display: none;
			top: 0px;
			left: 3px;
			@media (min-width: $tablet-min) {
				top: -6px;
				left: -2px;
			}
		}
	}
}

//drag-drop
.drag-drop {
	max-width: 570px;
	margin: 0 auto;
	&__field {
		padding: 20px;
		background: #F8F8F8;
		border: 1px solid #E0E0E0;
		border-radius: 5px;
		text-align: center;
		h4 {
			color: #A2A2A2;
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 15px;
		}
		i.fa-cloud-upload-alt {
			color: #E7E7E7;
			margin-bottom: 15px;
			font-size: 50px;
			@media (min-width: $tablet-min) {
				font-size: 70px;
			}
		}
	}
	&__note {
		font-size: 14px;
		font-style: italic;
		text-align: right;
		color: #A5A5A5;
	}
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 20px;
		@media (min-width: $tablet-min) {
			justify-content: space-between;
		}
		a {
			margin-bottom: 15px;
			@media (min-width: $tablet-min) {
				margin: 0;
			}
		}
	}
	&__notification {
		padding: 10px 12px;
		background-color: #FFF5E6;
		border: 1px solid #FFEBCF;
		border-radius: 5px;
		display: flex;
	}
	&__notification-icon {
		margin-right: 10px;
		color: #FF9400;
	}
	&__notification-text {
		p {
			font-size: 12px;
			line-height: 20px;
			margin-bottom: 15px;
			&:last-child {
				margin: 0;
			}
		}
	}
}

//upload-file
.upload-file {
	.chous {
		width: 180px;
		padding: 10px;
		border-radius: 5px;
		text-align: center;
		margin: 0 auto;
		cursor: pointer;
		display: block;
		transition: all 0.18s ease-in-out;
		background: #4B4B4B;
		color: $white;
		font-size: 16px;
		font-weight: $semiboldFont;
	}

	.chous:hover {
		background-position: $primaryColor;
	}

	.my {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
}

.tuning-checkout {
	padding: 70px 0 40px 0;
	.modal-login.show {
		display: flex !important;
		align-items: center;
		.modal-dialog {
			width: 100%;
			max-width: 570px;
		}
		.modal-content {
			border-radius: 6px;
		}
		.modal-header {
			background-color: $red;
			color: $white;
			font-size: 20px;
			padding: 12px 16px;
			border-bottom: none;
		}
		.modal-body {
			padding: 30px;
		}
		&__buttons {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.forgot-password {
				color: $red;
				text-decoration: underline;
			}
		}
	}
}

//checkout-item
.checkout-item {
	border-radius: 5px;
	margin-bottom: 10px;
	@media (min-width: $tablet-min) {
		box-shadow: 4px 21px 35px -17px rgba(0, 0, 0, 0.4);
		margin-bottom: 30px;
	}
	&__header {
		background: $red;
		border-radius: 5px;
		padding: 15px 20px;
		color: $white;
		transition: .3s;
		position: relative;
		i {
			position: absolute;
			right: 15px;
			top: 20px;
			font-size: 18px;
			transition: .3s;
			@media (min-width: $tablet-min) {
				display: none;
			}
		}
		&_gray {
			background-color: $primaryColor;
		}
		&.active {
			background-color: $green;
			i {
				transform: rotate(180deg);
			}
		}
		@media (min-width: $tablet-min) {
			border-radius: 5px 5px 0 0;
		}
		h5 {
			margin: 0;
			font-size: 20px;
			font-weight: $semiboldFont;
			span {
				@media (min-width: $tablet-min) {
					display: none;
				}
			}
		}
	}

	&__body {
		padding: 10px;
		background: $white;
		border-radius: 0 0 5px 5px;
		display: none;
		@media (min-width: $tablet-min) {
			display: block;
			padding: 20px;
		}
	}

	&__row {
		display: flex;
		&_border {
			padding-bottom: 10px;
			border-bottom: 1px solid #E0E0E0;
			margin-bottom: 10px;
		}
		&_checkbox {
			margin-bottom: 10px;
		}
		.code-field {
			width: 90px;
			margin-right: 10px;
		}
		&.select-row {
			position: relative;
			&:after {
				content: "\f0d7";
				display: block;
				font-family: "Font Awesome 5 Pro";
				font-weight: 900;
				font-size: 16px;
				margin-left: 3px;
				position: absolute;
				right: 20px;
				top: 15px;
			}
			&_chevron {
				&:after {
					content: '\f078';
				}
				select {
					background-color: $white;
				}
			}
		}
		select {
			width: 100%;
			outline: none;
			height: 50px;
			border-radius: 5px;
			border: 1px solid #E0E0E0;
			background: #F8F8F8;
			margin-bottom: 10px;
			color: #4B4B4B;
			font-size: 16px;
			padding: 12px 20px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			cursor: pointer;
		}
		.label-checkbox-wrap {
			font-size: 14px;
			padding-left: 26px;
			.label-checkbox {
				border: 1px solid #E0E0E0;
				background: #F8F8F8;
				width: 20px;
				height: 20px;
				top: 3px;
				&:after {
					top: -3px;
					left: 0;
				}
			}
			input:checked ~ .label-checkbox {
				background: #F8F8F8;
				&:after {
					color: $primaryColor;
					font-size: 13px;
				}
			}
		}
		&_radio {
			margin-bottom: 10px;
			&:last-child {
				margin: 0;
			}
			.label-checkbox-wrap {
				.label-checkbox {
					border-radius: 50%;
					width: 17px;
					height: 17px;
				}
				input:checked ~ .label-checkbox {
					border-radius: 50%;
					&:after {
						content: '';
						width: 7px;
						height: 7px;
						background-color: $primaryColor;
						border-radius: 50%;
						top: 4px;
						left: 1px;
					}
				}
			}
		}
	}
	.checkout-mobile-cta {
		display: flex;
		justify-content: flex-end;
		&_border {
			padding-top: 10px;
			border-top: 1px solid #E0E0E0;
			margin-top: 15px;
		}
		@media (min-width: $tablet-min) {
			display: none;
		}
		.cta-icon {
			.cta-icon__text {
				padding: 10px 15px;
				font-size: 16px;
			}
			.cta-icon__icon i {
					font-size: 18px;
			}
		}
	}
}

//payment-list 
.payment-list {
	&__link {
		display: flex;
		width: 100%;
		margin-bottom: 10px;
		color: $primaryColor;
		align-items: center;
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			color: $red;
		}
	}
	&__logo {
		padding: 5px;
		width: 100px;
		margin-right: 10px;
		border: 1px solid #EAEAEA;
		text-align: center;
		border-radius: 6px;
	}
}

//checkout-products
.checkout-products {
	p {
		margin: 0;
	}
	&__list {
		padding-bottom: 15px;
	}
	&__item {
		display: flex;
		margin-bottom: 10px;
	}
	&__img {
		margin-right: 10px;
	}
	&__description {
		padding-right: 35px;
		border-right: 1px solid #EBEBEB;
		width: 63%;
		p {
			font-size: 14px;
			font-weight: $semiboldFont;
			margin-bottom: 3px;
		}
		li {
			font-size: 13px;
			line-height: 20px;
		}
	}
	&__remove {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 12%;
		a {
			color: $red;
		}
	}

	.price-row {
		display: flex;
		justify-content: flex-end;
		text-align: right;
		p {
			&.green-color {
				color: $green;
			}
			&:first-child {
				width: 60%;
			}
			&:last-child {
				width: 40%;
			}
		}
	}

	&__subtotal {
		border-bottom: 1px solid #EBEBEB;
		border-top: 1px solid #EBEBEB;
		padding: 15px 0;
		p {
			margin: 0;
		}
	}

	&__total {
		padding: 15px 0;
		p {
			font-size: 20px;
			font-weight: $semiboldFont;
		}
	}

	&__sale {
		padding: 15px 0
	}

	&__subscribe {
		padding: 15px 0;
	}

	&__buy {
		margin-bottom: 30px;
	}

	&__notification {
		.choose-tuning__notification {
			@media (min-width: $tablet-min) {
				display: block;
			}
		}	
	}
}

//thank you page
.thank-you {
	text-align: center;
	padding: 30px 0;
	@media (min-width: $tablet-min) {
		padding: $brick-padding;
	}
	&__content {
		max-width: 720px;
		margin: 0 auto;
		h3 {
			margin: 0;
			span {
				color: $red;
			}
		}
		h4 {
			margin-bottom: 45px;
		}
		p {
			font-size: 16px;
			&.thank-you__email {
				font-size: 20px;
				font-weight: $semiboldFont;
				margin-bottom: 10px;
			}
		}
	}
	
	&__footer {
		p {
			margin-bottom: 5px;
			font-size: 18px;
			@media (min-width: $tablet-min) {
				font-size: 25px;
			}
		}
		.red-color	{
			color: $red;
		}
	}
}






