.sidebar {
	&__title {
		background-color: $primaryColor;
		color: $white;
		border-radius: 5px;
		padding: 18px;
		font-size: 18px;
		font-weight: $semiboldFont;
		margin: 0;
	}
	.striped-item {
		justify-content: space-between;
		flex-wrap: wrap;
		font-weight: $semiboldFont;
		padding: 10px 18px;
	}
	.order-data {
		justify-content: flex-end;
	}
	.order-name {
		margin: 0;
	}
	.credit {
		display: block;
		font-size: 14px;
		font-weight: 400;
	}
}

.order-total {
	display: flex;
	justify-content: space-between;
	padding: 15px 15px 15px 20px;
	color: $white;
	background-color: $red;
	border-radius: 5px;
	font-size: 18px;
	font-weight: $boldFont;
	margin-bottom: 10px;
	&__credits {
		margin-left: 15px;
		white-space: nowrap;
	}
	&__price {
		white-space: nowrap;
	}
}

//floating sidebar below

.sidebar-floating {
	@media(max-width: 767px) {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: $red;
		z-index: 2;
		color: $white;
		&.sidebar {
			margin: 0;
		}
		.sidebar__title {
			background-color: #960014;
			border-radius: 0;
			text-align: center;
			padding: 12px;
			text-transform: uppercase;
		}
		.striped-list {
			padding: 20px;
		}
		.striped-item {
			flex-wrap: wrap;
			align-items: center;
			padding: 5px 10px;
			&:nth-child(even) {
				background-color: #B40017;
			}
			.order-name {
				width: 60%;
				padding: 0;
				line-height: 1.2;
				font-size: 15px;
				font-weight: 400;
			}
			.order-data {
				width: 100%;
				order: 2;
				line-height: 1.2;
				font-size: 13px;
			}
			.credit {
				line-height: 1.2;
				font-size: 13px;
			}
		}

		.order-total {
			background-color: #4B4B4B;
			margin: 0 20px 20px 20px;
		}
		.order-buy {
			margin: 0 20px 20px 20px;
		}

		.sidebar__body {
			height: 0;
		}
	}
}

.sidebar-head {
	height: 5px;
	background-color: $red;
	color: $white;
	position: relative;
	cursor: pointer;
	@media (min-width: $tablet-min) {
		display: none;
	}
	&__circle {
		width: 70px;
		height: 30px;
		background-color: $red;
		border-radius: 50% 50% 0 0 / 100% 100% 0 0; 
		position: absolute;
		top: -25px;
		left: 0;
		right: 0;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	~ .order-total_active {
		margin: 0;
		z-index: 3;
		position: relative;
		border-radius: 0 0 5px 5px;
		@media (min-width: $tablet-min) {
			display: none;
		}
	}
	&.is-active {
		background-color: $primaryColor;
		.sidebar-head__circle {
			background-color: $primaryColor;
			i {
				transform: rotate(180deg);
			}
		}
		+ .sidebar__body {
			height: 100%;
		}
		~ .order-total_active {
			display: none;
		}
	}
}