.header {
	color: $white;
	margin-bottom: 100px;
	@media (min-width: $tablet-min) {
		margin-bottom: 75px;
	}
	&__top {
		background-color: rgba(0, 0, 0, .2);
		padding: 5px 15px;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		font-size: 12px;
		@media (min-width: $tablet-min) {
			justify-content: flex-start;
			margin-bottom: 25px;
			font-size: 15px;
			padding: 10px 25px;
		}
	}//header top end

	&__rating {
		display: inline-flex;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			display: block;
			width: 2px;
			border-radius: 30%;
			background-color: rgba(248, 248, 248, .16);
		}
		.stars {
			i {
				font-size: 11px;
				color: $yellow;
				@media (min-width: $tablet-min) {
					font-size: 15px;
				}
			}
		}
		.rating-value {
			font-weight: $boldFont;
			margin: 0 20px 0 8px;
		}
	}

	&__contacts {
		display: flex;
		padding-left: 20px;
		li {
			margin-right: 20px;
			&:last-child {
				display: none;
				@media (min-width: $tablet-min) {
					display: block;
				}
			}
			a {
				display: flex;
				font-size: 12px;
				font-weight: $semiboldFont;
				align-items: center;
				@media (min-width: $tablet-min) {
					font-size: 15px;
				}
				i {
					font-size: 13px;
					@media (min-width: $tablet-min) {
						font-size: 18px;
					}
				}
				span {
					margin-left: 5px;
				}
			}
		}
	}

	&__main {
		display: flex;
		justify-content: space-between;
		padding: 0 20px;
	}

	.logo {
		margin-right: 15px;
		img {
			max-width: 180px;
			@media (min-width: $wideScreen-min) {
				width: 100%;
			}
		}
	}

	.nav {
		flex-direction: column;
		&__top {
			display: none;
			width: 100%;
			justify-content: flex-end;
			align-items: flex-start;
			margin-bottom: 25px;
			@media (min-width: $desktop-min) {
				display: flex;
			}
			.nav__item {
				margin-right: 15px;
				font-weight: $extralightFont;
				@media (min-width: $wideScreen-min) {
					margin-right: 20px;
				}
				&:last-child {
					margin-right: 0;
					.dropdown a {
						i {
							margin-right: 10px;
							font-size: 16px;
						}
						&:before {
							display: none;
						}
					}
				}
			}
		}

		&__bottom {
			display: none;
			justify-content: flex-end;
			align-items: center;
			width: 100%;
			@media (min-width: $desktop-min) {
				display: flex;
			}
			.nav__item {
				margin-right: 15px;
				position: relative;
				@media (min-width: $wideScreen-min) {
					font-size: 18px;
					margin-right: 40px;
				}
				&:last-child {
					margin-right: 0;
				}
				&_cart {
					font-size: 15px;
					font-weight: $extralightFont;
				}
			}
			.nav__item-icon {
				position: absolute;
				top: -45px;
				font-family: $secondaryFont;
				span {
					transform: rotate(-12deg);
					display: inline-block;
					position: absolute;
					top: 0;
					left: 20px;
				}
			}
		}

		.dropdown {
			.dropdown-toggle {
				display: inline-flex;
				align-items: center;
				&:before {
					display: inline-block;
			    margin-right: 0.255em;
			    vertical-align: 0.255em;
			    content: "";
			    border-top: 0.3em solid;
			    border-right: 0.3em solid transparent;
			    border-bottom: 0;
			    border-left: 0.3em solid transparent;
				}
				&:after {
					display: none;
				}
			}
			.dropdown-menu {
				min-width: 65px;
			}
		}
		//mobile menu start
		.mobile-nav {
			margin-top: 5px;
			@media (min-width: $desktop-min) {
				display: none;
			}
			.menu-btn {
				font-size: 16px;
				padding: 8px 13px;
				border-radius: 6px;
				background: rgba(200, 0, 26, .5);
				cursor: pointer;
				i {
					font-size: 19px;
					margin-right: 5px;
				}
			}

			.menu {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				z-index: 2;
				min-height: 100vh;
				background: #696969;
				padding: 20px;
				display: none;
				flex-direction: column;
				align-items: center;
				padding-top: 120px;

				&.is-active {
					display: flex;
					z-index: 3;
				}
				

				&__list {
					max-width: 220px;
					width: 100%;
					margin: 0 auto 50px auto;
					li {
						margin-bottom: 10px;
					}
					a {
						display: block;
						font-size: 21px;
						color: $white;
						padding: 10px;
						background: #717171;
						text-align: center;
						border-radius: 6px;
						border: 1px solid #808080;
					}
				}
				.cta-icon {
					margin-bottom: 20px;
				}
				.mobile-dropdowm {
					button {
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 14px;
						border: 1px solid #808080;
						i {
							font-size: 16px;
							margin: 0 10px;
							align-self: end;
						}
						&:before {
							display: none;
						}
					}
					.dropdown-menu {
						background: #717171;
						border: 1px solid #808080;
						a {
							color: $white;
						}
					}
				}
			}
		}
		.menu__close {
			font-size: 23px;
			color: #C3C3C3;
			position: absolute;
			right: 30px;
			top: 15px;
		}
		//end mobile nav

		//start second mobile nav
		.sub-nav {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 3;
			min-height: 100vh;
			background: #696969;
			padding: 20px;
			display: none;
			flex-direction: column;
			align-items: center;
			padding-top: 60px;
			&.is-active {
				display: block;
			}
			&__list {
				padding: 0 15px 0 55px;
				li {
					margin-bottom: 7px;
					a {
						font-size: 18px;
						color: $white;
						display: block;
					}
				}
			}
		}
		//end second mobile nav
	}

	.cart-btn {
		border: 1px solid $white;
		border-radius: 5px;
		display: flex;
		align-items: center;

		&__icon {
			padding: 3px 8px 3px 6px;
			background-color: $white;
			border-radius: 4px 0 0 4px;
			i {
				color: $red;
			}
		}
		
		&__text {
			margin: 0 10px;
			white-space: nowrap;
		}
	}
}