.hero {
	background-image: url('../../../img/hero_home.jpg');
	background-size: cover;
	background-position: center;
	position: relative;

	&__title,
	&__subtitle {
		color: $white;
		line-height: 1;
		font-weight: $extralightFont;
	}

	&__subtitle {
		margin-bottom: 45px;
	}

	.search {
		display: flex;
		margin-bottom: 120px;
		flex-direction: column;
		align-items: center;
		position: relative;
		@media (min-width: $tablet-min) {
			margin-bottom: 10px;
			flex-direction: row;
			align-items: flex-start;
		}
		.search-icon {
			position: absolute;
			right: 15px;
			top: 15px;
			font-size: 20px;
			color: #D9D9D9;
			@media (min-width: $tablet-min) {
				display: none;
			}
		}

		&__icon {
			padding: 8px;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 15px;
			background: #10549E;
			border-radius: 5px 0 0 5px;
			color: $white;
			width: 45px;
			img {
				display: inline-block;
				margin-bottom: 3px;
				max-width: 75%;
				@media (min-width: $tablet-min) {
					max-width: 100%;
				}
			}
		}
		&__btn {
			min-width: 200px;
			max-width: 250px;
			display: flex;
			height: 50px;
			position: relative;
			@media (min-width: $tablet-min) {
				width: 24%;
				height: 60px;
				max-width: auto;
			}
			input {
				border-radius: 0 5px 5px 0;
				display: block;
				width: 100%;
				background-color: $yellow;
				padding: 10px;
				font-size: 40px;
				text-transform: uppercase;
			}
		}

		&__btn-icon {
			position: absolute;
			top: -68px;
			right: -32px;
			span {
				font-family: $secondaryFont;
				color: $white;
				transform: rotate(-8deg);
				display: inline-block;
				position: absolute;
				right: 40px;
				top: 13px;
				white-space: nowrap;
				font-size: 24px;
			}
		}

		&__field {
			width: 100%;
			border-radius: 5px;
			border: none;
			padding: 15px;
			height: 50px;
			margin-bottom: 95px;
			@media (min-width: $tablet-min) {
				margin: 0 20px 0 0;
				height: 60px;
				width: 65%;
			}
			@media (min-width: $wideScreen-min) {
				width: 75%;
			}
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  font-style: italic;
			  color: #9A9A9A;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  font-style: italic;
			  color: #9A9A9A;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  font-style: italic;
			  color: #9A9A9A;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  font-style: italic;
			  color: #9A9A9A;
			}
		}
		&__btn {
			input {
				height: 100%;
			}
		}
	}//end .search

	.search-nav {
		display: none;
		padding: 0 10px;
		@media (min-width: $tablet-min) {
			display: flex;
		}
		&__item {
			padding: 0 10px;
			border-right: 1px solid $red;
			line-height: 1;
			margin-bottom: 75px;
			&:last-child {
				border-right: none;
			}
			a {
				font-size: 16px;
			}
		}
	}//end .search

	.usp {
		border-top: 2px solid rgba(248, 248, 248, .16);
		padding: 15px 0;
		display: none;
		@media (min-width: $tablet-min) {
			display: flex;
		}
		&__item {
			display: flex;
			justify-content: center;
			margin-bottom: 40px;
			@media (min-width: $desktop-min) {
				margin: 0;
			}
			i {
				font-size: 25px;
				color: $green;
				margin-right: 10px;
			}
		}

		&__text {
			color: $white;
			h5 {
				font-weight: semibildFont;
				font-size: 18px;
				line-height: 1.1;
			}
			p {
				font-size: 15px;
				color: $lightGray;
				line-height: 1.1;
			}
		}
	}

	//startmobile account
		.lift-up {
			padding: 10px;
			background: $red;
			height: 20px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			transition: .5s;
			color: $white;
			z-index: 2;
			@media (min-width: $tablet-min) {
				display: none;
			}
			&_active {
				height: 280px;
				.lift-up__btn {
					i {
						transform: rotate(180deg);
					}
				}
			}

			&__lable {
				position: absolute;
				left: 0;
				right: 0;
				top: -70px;
				margin: 0 auto;
				width: 90px;
				transform: rotate(-13deg);
				img {

				}
				span {
					font-family: $secondaryFont;
					font-size: 18px;
					position: absolute;
					top: 0;
					right: 0;
				}
			}

			&__btn {
				width: 70px;
				height: 70px;
				border-radius: 70%;
				background: linear-gradient(to bottom, $red 50%, transparent 50%);
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;
				top: -25px;
				text-align: center;
				padding-top: 6px;
				i {
					font-size: 19px;
				}
			}
		}
		//end mobile account

}