.map {
	background: url('../../../img/map_bg.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	padding: 60px 0;
	color: $white;
	display: none;
	@media (min-width: $desktop-min) {
		display: block;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: -100px;
	}

	&__mark {
		background: $white;
		border-radius: 5px;
		color: $red;
		padding: 10px 23px;
		font-size: 22px;
		margin-bottom: 25px;
	}

	h3 {
		font-weight: $lightFont;
		font-size: 45px;
		strong {
			font-weight: $boldFont;
		}
	}

	p {
		font-size: 22px;
		margin-bottom: 25px;
	}

	&__cta {
		background: $green;
		border-radius: 5px;
		font-size: 20px;
		font-weight: $boldFont;
		display: flex;
		&:hover {
			background-color: $darkGreen;
			.map__cta-icon {
				background-color: $green
			}
		}
	}

	&__cta-icon {
		background-color: $darkGreen;
		border-radius: 4px 0 0 4px;
		width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: .3s;
		i {
			font-size: 18px;
		}
	}

	&__cta-text {
		padding: 15px 30px;
	}
}