.advice {
	@media (min-width: $desktop-min) {
		background: linear-gradient(130deg, $red 50%, $primaryColor 50%);
	}
	&__container {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	&__content {
		color: $white;
		background-color: $red;
		width: 100%;
		padding: 20px 15px;
		position: relative;
		&:after {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 12px 12.5px 0 12.5px;
			border-color: $red transparent transparent transparent;
			position: absolute;
			bottom: -12px;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 1;
		}
		@media (min-width: $desktop-min) {
			background: transparent;
			padding: 40px 15px;
			width: 50%;
			&:after {
				display: none;
			}
		}
		p {
			text-align: center;
			font-weight: $lightFont;
			font-size: 16px;
			margin: 0;

			&:first-of-type {
				text-align: left;
				font-weight: $lightFont;
				font-size: 22px;
			}
			@media (min-width: $desktop-min) {
				max-width: 465px;
				text-align: left;
				font-size: 20px;
			}
		}
		h3 {
			margin-bottom: 10px;
			font-size: 30px;
			font-weight: $semiboldFont;
			@media (min-width: $desktop-min) {
				font-size: 45px;
				margin: 0;
			}
		}
	}

	&__banner {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		background: #4B4B4B;
		padding-top: 15px;
		@media (min-width: $desktop-min) {
			background: transparent;
			width: 50%;
			text-align: left;
			padding: 0;
			height: 100%;
		}
	}

	&__contacts {
		padding: 20px;
		text-align: left;
		width: 100%;
		@media (min-width: $mobile-min) {
			width: auto;
		}
		@media (min-width: $tablet-min) {
			display: none;
		}
		+ img {
			@media (max-width: 767px) {
				display: none;
			}
		}
		li {
			margin-bottom: 5px;
		}
	}
	&__contacts-list {
		a {
			font-size: 18px;
			i {
				color: $red;
				margin-right: 10px;
			}
		}
	}
}

.auto-detail-tune .advice,
.order-process .advice {
	display: none;
	@media (min-width: $tablet-min) {
		display: block;
	}
}