.article-half {
	padding: 20px 0;
	background-image: none;
	background-color: $red;
	color: $white;
	@media (min-width: $desktop-min) {
		background-color: $white;
		color: $primaryColor;
		padding: $brick-padding;
	}
	@media (min-width: 1200px) {
		background: url('../../../../img/article-half_bg.png') no-repeat;
		background-position: 250% 50%;
	}
	@media (min-width: $wideScreen-min) {
		background-position: 150% 50%;
	}
	@media (min-width: 1680px) {
		background-position: 120% 50%;
	}
	h3 {
		font-weight: 400;
		margin-bottom: 20px;
		span {
			font-weight: $semiboldFont;
			@media (min-width: $desktop-min) {
				color: $red;
			}
		}
	}
	p {
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 30px;
		&:last-child {
			margin: 0;
		}
	}
}