.blog {
	padding: $brick-padding;
	display: none;
	@media (min-width: $tablet-min) {
		display: block;
	}
	h3 {
		font-size: 40px;
		font-weight: $extralightFont;
		margin-bottom: 30px;
		span {
			color: $red;
			font-weight: $semiboldFont;
		}
	}
	p {
		text-align: center;
	}
	&__img {
		margin-bottom: 15px;
		img {
			width: 100%;
		}
	}

	&__post {
		margin-bottom: 30px;
	}

	&__content {
		padding: 0 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		background-color: #F8F8F8;
		@media (min-width: $tablet-min) {
			display: block;
			background-color: transparent;
			padding: 0 15px 15px 15px;
		}
		h5 {
			font-size: 20px;
			font-weight: $boldFont;
			background-color: $white;
			padding-bottom: 5px;
			margin-bottom: 0;
			width: 100%;
			padding-left: 10px;
			@media (min-width: $tablet-min) {
				width: auto;
				border-bottom: 1px solid #ebebeb;
				background-color: transparent;
				margin-bottom: 5px;
				padding-left: 0;
			}
		}
		p {
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 10px;
			text-align: left;
			display: none;
			@media (min-width: $tablet-min) {
				display: block;
			}
		}
		a {
			color: $white;
			font-weight: $semiboldFont;
			background-color: $primaryColor;
			padding: 5px 10px;
			border-radius: 0 5px 5px 0;
			@media (min-width: $tablet-min) {
				color: $red;
				background-color: transparent;
				padding: 0;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}

	time {
		color: #777;
		font-size: 14px;
		border-radius: 5px 0 0 5px;
		padding: 5px 12px;
		background-color: #F8F8F8;
		margin-left: -2px;
		@media (min-width: $tablet-min) {
			width: auto;
			background-color: transparent;
			margin: 0;
			padding: 0;
		}
	}

	&_main {
		display: block;
		h3 {
			margin-bottom: 3px;
		}
	}
	&_details {
		time {
			display: block;
			margin-bottom: 10px;
			@media (min-width: $tablet-min) {
				margin-bottom: 30px;
			}
		}
		p {
			text-align: left;
		}
	}
}

.blog-filter {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	flex-wrap: wrap;
	&__item {
		display: flex;
		align-items: center;
		width: 100%;
		margin-bottom: 15px;
		@media (min-width: $tablet-min) {
			width: 50%;
			margin: 0;
		}
		&:first-child {
			flex-wrap: wrap;
			@media (min-width: $tablet-min) {
				flex-wrap: nowrap;
			}
		}
		&:last-child {
			justify-content: flex-end;
			.input-group {
				max-width: 150px;
				@media (min-width: $tablet-min) {
					max-width: 250px;
				}
			}
			span {
				margin-right: 15px;
				font-size: 18px;
				font-weight: $semiboldFont;
			}
		}
		.input-group {
			color: $white;
			margin-bottom: 10px;
			@media (min-width: $tablet-min) {
				max-width: 250px;
				margin-right: 10px;
				margin-bottom: 0;
			}
			&:last-child {
				margin-right: 0;
				margin-bottom: 0;
			}
			select {
				background-color: $red;
				color: $white;
			}
			.input-group-append,
			.input-group-text {
				background-color: $darkRed;
				i {
					color: $white;
				}
			}
		}
	}
}