.brands {
	display: none;
	flex-direction: column;
	align-items: center;
	padding: 20px 15px;
	@media (min-width: $desktop-min) {
		display: flex;
		flex-direction: row;
		padding: 40px;
	}
	@media (min-width: $wideScreen-min) {
		padding: 40px 80px 40px 40px;
		align-items: stretch;
	}
	&__text {
		padding-right: 10px;
		@media (min-width: $desktop-min) {
			width: 30%;
		}
		@media (min-width: $wideScreen-min) {
			padding-right: 50px;
		}
		h3 {
			font-size: 30px;
			font-weight: $extralightFont;
			text-align: center;
			margin-bottom: 20px;
			@media (min-width: $desktop-min) {
				text-align: right;
				margin: 0;
			}
			@media (min-width: $wideScreen-min) {
				font-size: 40px;
			}
			span {
				font-weight: $semiboldFont;
			}
		}
	}

	&__list {
		display: flex;
		list-style-type: none;
		@media (min-width: $desktop-min) {
			width: 70%;
		}
	}

	&__item {
		width: 12.5%;
		border-right: 1px solid #eaeaea;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 5px;

		&:first-child {
			@media (min-width: $desktop-min) {
				border-left: 1px solid #eaeaea;
			}
		}
		&:last-child {
			border-right: none;
		}
	}
}