.contact-wrap {
	margin: -150px 0 50px 0;
	@media (min-width: $tablet-min) {
		margin: -280px 0 80px 0;
	}
}

.contact {
	display: flex;
	flex-wrap: wrap;
	border-radius: 5px;
	background-color: $white;
	box-shadow: 0px 10px 30px -2px rgba(0, 0, 0, 0.4);
	&__content {
		width: 100%;
		padding: 30px;
		@media (min-width: $desktop-min) {
			width: 65%;
		}
		h4 {
			font-size: 30px;
			font-weight: $semiboldFont;
			@media (min-width: $tablet-min) {
				font-size: 35px;
			}
		}
		p {
			font-size: 16px;
			font-weight: $lightFont;
			@media (min-width: $tablet-min) {
				font-size: 20px;
			}
		}
	}
	&__map {
		width: 100%;
		@media (min-width: $desktop-min) {
			width: 35%;
		}
		iframe {
			width: 100%;
			height: 300px;
			@media (min-width: $desktop-min) {
				height: 100%;
			}
		}
	}
}

.contact-form {
	display: flex;
	flex-wrap: wrap;
	&__column {
		width: 100%;
		display: flex;
		flex-direction: column;
		min-height: 100%;
		margin-bottom: 10px;
		@media (min-width: $tablet-min) {
			width: 50%;
			margin: 0;
		}
		&:first-child {
			@media (min-width: $tablet-min) {
				padding-right: 15px;
			}
		}
		&:last-child {
			@media (min-width: $tablet-min) {
				padding-left: 15px;
			}
		}
	}
	input,
	textarea {
		display: block;
    border: 1px solid #E0E0E0;
    background: #F8F8F8;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 12px 20px;
	}
	.wrap-inputs {
		flex: 1 0 auto;
	}
	textarea {
		min-height: 170px;
		margin-bottom: 0;
	}
	a {
		flex: 0 0 auto;
	}
}

.contact-tiles {
	padding-bottom: 75px;
	
	&__item {
		text-align: center;
		display: flex;
		flex-direction: column;
		border-right: 2px solid #E68C98;
		width: 50%;
		@media (min-width: $desktop-min) {
			width: 25%;
		}
		&:last-child {
			border-right: none;
		}
		i {
			margin-bottom: 10px;
			font-size: 40px;
			@media (min-width: $tablet-min) {
				font-size: 50px;
			}
		}
		a {
			font-size: 18px;
			@media (min-width: $tablet-min) {
				font-size: 22px;
			}
		}
		span {
			font-size: 14px;
			color: #E68C98;
		}
	}
	&__row {
		background-color: $red;
		color: $white;
		padding: 17px 0;
		border-radius: 5px;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
		&_lg {
			.contact-tiles__item {
				margin-bottom: 20px;
				@media (min-width: $desktop-min) {
					margin: 0;
				}
				&:nth-child(2) {
					border: none;
					@media (min-width: $desktop-min) {
						border-right: 2px solid #E68C98;
					}
				}
			}
		}
		&_sm {
			max-width: 630px;
			margin: 0 auto 50px auto;
			.contact-tiles__item {
				width: 100%;
				margin-bottom: 15px;
				@media (min-width: $mobile-min) {
					width: 33.333%;
					margin: 0;
				}
				i {
					font-size: 25px;
					margin-bottom: 5px;
					padding: 0 10px;
					@media (min-width: $tablet-min) {
						font-size: 30px;
					}
				}
				a {
					font-size: 17px;
				}
				span {
					font-size: 13px;
					line-height: 10px;
				}
			}
		}
	}
}

.contact-info {
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	&__mark {
		background-color: $green;
		padding: 15px 70px;
		color: $white;
		border-radius: 5px 5px 0 0;
		font-size: 20px;
		font-weight: $semiboldFont;
		width: 100%;
		text-align: center;
		@media (min-width: $desktop-min) {
			width: auto;
			border-radius: 5px 0 0 5px;
		}
	}
	&__notification {
		padding: 15px 25px;
		text-align: center;
		@media (min-width: $desktop-min) {
			text-align: left;
		}
	}
}