.cta {
	.cta-desktop {
		padding: 40px 0;
		background: linear-gradient(to right, #890012, #C7001A, #890012);
		display: none;
		color: $white;
		@media (min-width: $tablet-min) {
			display: block;
		}
		&__label {
			position: relative;
			p {
				font-family: $secondaryFont;
				font-size: 22px;
				font-weight: 400;
				transform: rotate(-7deg);
				strong {
					font-weight: $boldFont;
					display: block;
				}
			}
			img {
				position: absolute;
				right: -15px;
				top: 40%;
			}
		}
		&__btn {
			height: 100%;
			display: flex;
			align-items: center;
			.cta-icon {
				display: flex;
				width: 100%;
			}
			.cta-icon__text {
				display: block;
				width: calc(100% - 50px;)
			}
		}
		&__text {
			height: 100%;
			display: flex;
			align-items: center;
			p {
				font-size: 15px;
				strong {
					font-weight: $boldFont;
				}
			}
		}
	}
}

.cta-modal {
	.modal-dialog {
		.second-step,
		.third-step {
			display: none;
		}
	}
	.modal-content {
		border: none;
	}
	.modal-header {
		color: $white;
		background-color: $primaryColor;
		text-align: center;
		padding: 15px;
		border: none;
	}
	.modal-title {
		width: 100%;
		font-size: 25px;
		font-weight: $semiboldFont;
	}
	.modal-body {
		background-color: $red;
		border-radius: 0 0 5px 5px;
		color: $white;
		padding: 40px;
		text-align: center;
		p {
			font-size: 20px;
			font-weight: 400;
			margin-bottom: 25px;
		}
		input,
		textarea {
			color: $primaryColor;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				font-size: 20px;
				color: #9A9A9A;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				font-size: 20px;
				color: #9A9A9A;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				font-size: 20px;
				color: #9A9A9A;
			}
			&:-moz-placeholder { /* Firefox 18- */
				font-size: 20px;
				color: #9A9A9A;
			}
		}
	}
	.modal-input {
		font-size: 20px;
		display: block;
		text-align: center;
		padding: 15px;
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
	.dealer-item {
		padding: 10px;
		border-bottom: 1px solid #D33348;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		&:last-child {
			border-bottom: none;
		}
		.dealer-name {
			font-weight: $semiboldFont;
		}
		.dealer-distance {
			margin-right: 40px;
			display: block;
			padding: 3px 10px;
			background: $white;
			color: $red;
			border-radius: 5px;
			font-weight: $semiboldFont;
		}
		i {
			position: absolute;
			top: 35%;
			right: 20px;
			font-size: 16px;
		}
	}

	.back {
		padding: 15px 40px;
		color: $white;
		font-size: 17px;
		font-weight: $boldFont;
		background: $darkRed;
		display: flex;
		align-items: center;
		cursor: pointer;
		i {
			font-size: 20px;
			margin-right: 10px;
		}
	}

	.dealer-contact {
		max-width: 370px;
		margin: 0 auto;
		text-align: center;
		&__address {
			padding: 20px 15px;
			background-color: $darkRed;
			margin-bottom: 30px;
		}
		&__links {
			max-width: 250px;
			margin: 0 auto;
			font-size: 20px;

			a {
				display: block;
				height: 48px;
				background-color: #EAEAEA;
				border-radius: 5px;
				margin-bottom: 10px;
				display: flex;
				align-items: center;
				color: $primaryColor;
				span:last-child {
					width: calc(100% - 50px);
				}
			}
		}
		&__icon {
			display: block;
			width: 50px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 5px 0 0 5px;
			&_whatsapp {
				background-color: #09B900;
			}
			&_phone {
				background-color: #0087B9;
			}
			&_mail {
				background-color: #1EBCF7;
			}
			i {
				font-size: 25px;
				color: $white;
			}
		}
	}

	.dealer-form {
		input,
		textarea {
			width: 100%;
			margin-bottom: 10px;
			height: 50px;
			padding: 20px;
			font-size: 16px;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				font-size: 16px;
				color: #BABABA;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				font-size: 16px;
				color: #BABABA;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				font-size: 16px;
				color: #BABABA;
			}
			&:-moz-placeholder { /* Firefox 18- */
				font-size: 16px;
				color: #BABABA;
			}
		}
		textarea {
			resize: none;
			min-height: 175px;
		}
		&__row {
			display: flex;
			input:first-child {
				margin-right: 15px;
			}
		}
	}
}