.faq {
	padding: $brick-padding;
	display: none;
	&_gray {
		background-color: #F5F5F5;
	}
	@media (min-width: $tablet-min) {
		display: block;
	}
	h3 {
		font-weight: $extralightFont;
		text-align: center;
		margin-bottom: 40px;
	}

	&__accordion {
		margin-bottom: 30px;
		.card {
			margin-bottom: 10px;
			border: none;
			box-shadow: none;
			border-radius: 0;
			background-color: transparent;
		}
		.card-header {
			background: #F2F2F2;
			border-bottom: none;
			border-radius: 0 5px 5px 0;
			padding: 0;
			h5 {
				padding: 7px 0;
			}
			button {
				padding: 0;
				border: none;
				font-size: 22px;
				display: block;
				width: 100%;
				text-align: left;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}

	&__question-icon {
		padding: 10px 30px;
		border-radius: 5px 0 0 5px;
		background-color: $red;
		font-size: 30px;
		color: $white;
		margin-right: 30px;
	}

	&__item-arrow {
		position: absolute;
		right: 25px;
		top: 16px;
		font-size: 22px;
		color: $red;
		transform: rotate(180deg);
		transition: .3s;

	}

	&__btn {
		color: $red;
		&:hover {
			color: $red;
		}
		&.collapsed {
			color: $primaryColor;
			&:hover {
				color: #9e9e9e;
			}
			.faq__item-arrow {
				transform: rotate(0);
				color: #9e9e9e;
			}
		}
	}

	.card-body {
		font-size: 20px;
		line-height: 25px;
		margin: 10px 0 0 96px;
		background: #F2F2F2;
		border-radius: 5px;
		padding: 15px 30px;
		font-size: 16px;
	}

	&__cta {
		text-align: center;
		padding: 15px;
		max-width: 570px;
		width: 100%;
		background: $red;
		border-radius: 5px;
		display: block;
		margin: 0 auto;
		font-size: 18px;
		&:hover {
			background: $darkRed;
		}
		@media (min-width: $tablet-min) {
			font-size: 22px;
		}
	}
}