.feedback {
	padding: 30px 0;
	@media (min-width: $tablet-min) {
		padding: 30px;
	}
	h4 {
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 10px;
	}
	&__item {
		padding: 15px 25px 15px 15px;
		border-radius: 5px;
		border: 1px solid #EAEAEA;
		background-color: #FCFCFC;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__author {
		font-size: 18px;
		margin-bottom: 0;
		font-weight: 400;
		span {
			color: $red;
		}
	}
	.stars {
		color: $yellow;
		font-size: 15px;
		margin-bottom: 10px;
	}
	p {
		margin: 0;
	}
	&__read-more {
		text-align: center;
		position: relative;
		padding-top: 3px;
		border-top: 1px solid #EBEBEB;
		margin-top: 20px;
		cursor: pointer;
		margin-bottom: 30px;
		@media (min-width: $tablet-min) {
			margin-bottom: 0;
		}
		&:before {
			content: '';
			position: absolute;
			top: -140px;
			left: 0;
			right: 0;
			display: block;
			width: 100%;
			height: 120px;
			background-image: linear-gradient(to bottom, rgba(255, 255, 255, .1), rgba(255, 255, 255, 1));
		}
	}
}

.leave-feedback {
	input,
	textarea {
		width: 100%;
		border-radius: 5px;
		border: 1px solid #EAEAEA;
		background-color: #FCFCFC;
		padding: 15px;
		margin-bottom: 15px;
		resize: none;
	}
	h4 {
		display: none;
		@media (min-width: $tablet-min) {
			display: block;
		}
	}
	textarea {
		min-height: 150px;
	}
	&__wrap-form {
		display: none;
		@media (min-width: $tablet-min) {
			display: block;
		}
	}
	&__send {
		display: flex;
		justify-content: flex-end;
		.cta-icon {
			width: 100%;
			.cta-icon__text {
				width: calc(100% - 50px);
				text-align: center;
				background-color: $primaryColor;
			}
			.cta-icon__icon {
				background-color: $darkGray;
				i {
					transform: rotate(90deg);
					@media (min-width: $tablet-min) {
						transform: rotate(0);
					}
				}
			}
			@media (min-width: $tablet-min) {
				width: auto;
				.cta-icon__text {
					text-align: left;
					width: auto;
					background-color: $green;
				}
				.cta-icon__icon {
					background-color: $darkGreen;
				}
			}
		}
		.cta-icon__text {
			padding: 14.5px 20px;
		}
	}
	&__rate {
		display: flex;
		margin-bottom: 10px;
	}
	.stars-wrap {
		position: relative;
		margin-left: 10px;
		.stars {
			white-space: nowrap;
			color: #DBDBDB;
			margin: 0;
			cursor: pointer;
			&.stars-active {
				position: absolute;
				color: $yellow;
				top: 0;
				left: 0;
				overflow: hidden;
			}
		}
	}
}