.microblog {
	background-position: top right;
	padding: 30px 0 10px 0;
	@media (min-width: $tablet-min) {
		padding: $brick-padding;
	}
	@media (min-width: $desktop-min) {
		background: url('../../../../img/microblog-home_bg.jpg') no-repeat;
		background-size: cover;
	}
	h3 {
		font-weight: $extralightFont;
		margin-bottom: 10px;
		@media (min-width: $tablet-min) {
			margin-bottom: 20px;
		}
		span {
			font-weight: $semiboldFont;
			color: $red;
		}
	}
	
	&__subtitle {
		max-width: 850px;
		margin: 0 auto 15px auto;
		text-align: center;
		font-weight: $lightFont;
		font-size: 16px;
		@media (min-width: $tablet-min) {
			font-size: 20px;
			margin: 0 auto 30px auto;
		}
		span {
			font-weight: $semiboldFont;
		}
	}

	&__item {
		background: #F8F8F8;
		border-radius: 5px;
		position: relative;
		margin: 0 0 10px 20px;
		display: flex;
		@media (min-width: $tablet-min) {
			background: $white;
			box-shadow: 5px 15px 40px -10px rgba(0, 0, 0, 0.3);
			margin: 0 0 60px 0;
			display: block;
		}
		@media (min-width: $desktop-min) {
			margin: 0;
		}
	}

	&__number {
		width: 50px;
		height: 50px;
		background: $red;
		border: 5px solid #f8f8f8;
		color: $white;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: $boldFont;
		font-size: 25px;
		margin: 0 15px 0 -20px;
		@media (min-width: $tablet-min) {
			width: 75px;
			height: 75px;
			margin: 0 auto;
			border: 5px solid $white;
			position: absolute;
			left: 0;
			right: 0;
			top: -36px;
			font-size: 35px;
		}
	}

	&__body {
		padding: 0;
		@media (min-width: $tablet-min) {
			padding: 55px 15px 15px 15px;
		}
		h4 {
			font-size: 20px;
			font-weight: $semiboldFont;
			margin-bottom: 0;
			@media (min-width: $tablet-min) {
				font-size: 25px;
				margin-bottom: 16px;
			}
		}
		p {
			color: #7C7C7C;
			font-weight: 400;
			margin-bottom: 0px;
			@media (min-width: $tablet-min) {
				font-size: 16px;
				margin-bottom: 15px;
			}
		}
	}

	&__footer {
		background: $red;
		border-radius: 0 0 4px 4px;
		padding: 10px 15px;
		display: none;
		justify-content: space-between;
		align-items: center;
		color: $white;
		font-size: 18px;
		font-weight: 400;
		@media (min-width: $tablet-min) {
			display: flex;
		}
	}
}

.microblog-video {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	text-align: center;
	@media (min-width: $tablet-min) {
		font-size: 20px;
		padding: 20px;
		flex-direction: row;
		border-radius: 5px;
		border: 1px solid $borderGray;
		background-color: $gray;
		text-align: left;
		margin-bottom: 80px;
	}
	&__btn {
		background-color: $primaryColor;
		border-radius: 5px;
		text-align: center;
		min-width: 300px;
		height: 50px;
		display: flex;
		justify-content: space-between;
		@media (min-width: $tablet-min) {
			min-width: 340px;
		}
		&:hover {
			background-color: $darkGray;
			.microblog-video__icon {
				background: $primaryColor;
			}
		}
	}
	&__btn-text {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 85%;
		font-weight: 400;
		font-size: 18px;
	}
	&__icon {
		width: 50px;
		background-color: $darkGray;
		border-radius: 0 4px 4px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: .3s;
		i {
			font-size: 22px;
		}
	}
	&__text {
		width: 100%;
		margin: 0 0 30px 0;
		display: none;
		@media (min-width: $tablet-min) {
			margin: 0 30px 0 0;
			font-size: 20px;
			display: block;
		}
		span {
			font-weight: 400;
			&.red {
				color: $red;
			}
		}
	}
}

.video-wrap {
	&_red {
		background: $red;
		padding: 25px 0;
		display: none;
		@media (min-width: $tablet-min) {
			display: block;
		}
		.microblog-video {
			margin: 0;
			padding: 0;
			background: none;
			border: none;
			&__text {
				color: $white;
				span {
					color: $white;
				}
			}
			&__btn {
				background: $green;
				&:hover {
					background: $darkGreen;
					.microblog-video__icon {
						background: $green;
					}
				} 
			}
			&__icon {
				background: $darkGreen;
			}
		}
	}
}