.partners {
	padding: 50px 0;
	display: none;
	@media (min-width: $tablet-min) {
		display: block;
	}
	h3 {
		font-weight: $extralightFont;
		padding-bottom: 25px;
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 25px;
		span {
			color: $red;
			font-weight: $semiboldFont;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		li {
			width: 17%;
			text-align: center;
			padding: 0 10px;
			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: right;
			}
			&:nth-child(3) {
				width: 33%;
			}
		}
	}
}