.product-list {
	padding: $brick-padding;
	background: #f2f2f2;
	display: none;
	@media (min-width: $tablet-min) {
		display: block;
	}
	p {
		margin: 0;
	}
	&__container {
		width: 90%;
		margin: 0 auto;
		padding: 0 15px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 20px;
		h3 {
			font-weight: $lightFont;
			font-size: 40px;
		}
		.cta-icon {
			font-weight: 400;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		width: calc(100% - 15px);
		margin-bottom: 40px;
		@media (min-width: $tablet-min) {
			width: calc(50% - 25px);
		}
		@media (min-width: $desktop-min) {
			width: calc(25% - 25px);
			margin: 0;
		}
		@media (min-width: $wideScreen-min) {
			width: calc(25% - 50px);
		}
	}

	&__item-img {
		background: $white;
		box-shadow: 4px 14px 21px -10px rgba(0, 0, 0, 0.55);
		border-radius: 5px;
		margin-bottom: 30px;
		text-align: center;
	}

	&__price,
	&__sale {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
		p {
			font-size: 20px;
			font-weight: 400;
			&:first-child {
				margin-right: 10px;
			}
			&.product-list__sale-rate {
				font-weight: $semiboldFont;
				white-space: nowrap;
			}
			&.product-list__price-rate {
				font-size: 18px;
				color: #747474;
				white-space: nowrap;
				&.crossed {
					text-decoration: line-through;
				}
			}
		}
	}

}