.usp {
	border-top: 2px solid rgba(248, 248, 248, .16);
	padding: 15px 0;
	display: none;
	@media (min-width: $tablet-min) {
		display: flex;
	}
	&__item {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		@media (min-width: $desktop-min) {
			margin: 0;
		}
		i {
			font-size: 25px;
			color: $green;
			margin-right: 10px;
		}
	}

	&__text {
		color: $white;
		h5 {
			font-weight: $semiboldFont;
			font-size: 18px;
			line-height: 1.1;
		}
		p {
			font-size: 15px;
			color: $lightGray;
			line-height: 1.1;
			margin: 0;
		}
	}

	&_separate {
		border: none;
		background: #F2F2F2;
		box-shadow: 0 4px 8px -1px rgba(0, 0, 0, .25);
		position: relative;
		z-index: 1;
		.usp__text {
			h5 {
				color: $primaryColor;
			}
			p {
				color: #9D9D9D;
			}
		}
	}
}