.dealer-wonder {
	padding: 70px 0 0 0;
	&__article {
		h4 {
			font-size: 16px;
			font-style: italic;
			font-weight: $semiboldFont;
			margin-bottom: 30px;
			@media (min-width: $tablet-min) {
				font-size: 20px;
			}
		}
		img {
			width: 100%;
			@media (min-width: $tablet-min) {
				width: auto;
			}
		}
	}
	&__cta {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: 15px 0;
		margin: 30px 0 50px 0;
		@media (min-width: $tablet-min) {
			margin-bottom: 50px;
			justify-content: space-between;
		}
		a {
			max-width: 370px;
			width: 100%;
			margin-bottom: 10px;
			@media (min-width: $tablet-min) {
				margin: 0;
			}
			.cta-icon__text {
				padding: 14.5px 5px;
				text-align: center;
				width: calc(100% - 50px);
			}
		}
	}
}

.dealer-tiles {
	text-align: center;
	padding: 30px 0;
	@media (min-width: $tablet-min) {
		padding: 30px 0 60px 0;
	}
	h3 {
		margin-bottom: 0;
	}
	img {
		width: 100%;
	}
	&__tile {
		width: 100%;
		padding: 5px 15px;
		border-radius: 5px;
		@media (min-width: $tablet-min) {
			width: 50%;
			padding: 15px;
		}
		&_35,
		&_65,
		&_60,
		&_40 {
			display: none;
			@media (min-width: $tablet-min) {
				display: block;
			}
		}
		&_35 {
			@media (min-width: $tablet-min) {
				width: 33.5%;
			}
		}
		&_65 {
			@media (min-width: $tablet-min) {
				width: 66.5%;
			}
		}
		&_60 {
			@media (min-width: $tablet-min) {
				width: 58.5%;
			}
		}
		&_40 {
			@media (min-width: $tablet-min) {
				width: 41.5%;
			}
		}
	}
}

.dealer-support {
	position: relative;
	padding-top: 40px;
	&:before {
			content: '';
			height: 4px;
			width: calc(100% - 30px);
			border-radius: 5px;
			background-color: #EBEBEB;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			@media (min-width: $tablet-min) {
				display: none;
			}
		}
	@media (min-width: $tablet-min) {
		background-color: #EFEFEF;
	}
	h3 {
		margin-bottom: 20px;
	}
	&__container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		position: relative;
		@media (min-width: $tablet-min) {
			flex-wrap: nowrap;
		}
	}
	&__content {	
		@media (min-width: $tablet-min) {
			max-width: 600px;
			padding-left: 60px;
		}
		h3 {
			position: absolute;
			top: 15px;
			left: 20px;
			@media (min-width: $tablet-min) {
				position: static;
			}
			span {
				display: block;
				@media (min-width: $tablet-min) {
					display: inline;
				}
			}
		}
	}
	&__img {
		width: 100%;
		background-color: #EFEFEF;
		border-radius: 5px;
		text-align: right;
		padding-top: 5px;
		margin-bottom: 20px;
		@media (min-width: $tablet-min) {
			width: auto;
			background: none;
			padding: 0;
			margin: 0;
		}
		img {
			max-width: 50%;
			@media (min-width: $tablet-min) {
				max-width: 100%;
			}
		}
	}
}