 //fonts-import
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam:400,700&display=swap');

//default imports
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

//base imports
@import 'src/reset';
@import 'src/vars';
@import 'src/base';


//components imports
@import 'src/components/header';
@import 'src/components/hero';
@import 'src/components/bricks/microblog';
@import 'src/components/bricks/advice';
@import 'src/components/bricks/brands';
@import 'src/components/map';
@import 'src/components/bricks/article';
@import 'src/components/bricks/blog';
@import 'src/components/bricks/product-list';
@import 'src/components/bricks/testimonials';
@import 'src/components/bricks/partners';
@import 'src/components/footer';
@import 'src/components/bricks/bnefits-mobile';
@import 'src/components/bricks/usp';

//merken page below
@import 'src/components/bricks/faq';
@import 'src/components/bricks/recent-files';
@import 'src/components/bricks/choose-model';

//auto-details-tune page
@import 'src/components/bricks/car-represent';
@import 'src/components/bricks/cta';
@import 'src/components/bricks/article-half';