body {
	font-family: $primaryFont;
	color: $primaryColor;
	line-height: 25px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: $white;
	transition: .3s;
	&:hover {
		text-decoration: none;
		color: $white;
	}
}

p {
	font-size: $p-mobile;
	font-weight: 400;
	line-height: 25px;
	margin-bottom: 30px;
	@media (min-width: $tablet-min) {
		font-size: $p-desktop;
	}
}
strong {
	font-weight: $blackFont;
}

h1 {
	font-weight: $lightFont;
	font-size: $h1-mobile;
	@media (min-width: $tablet-min) {
		font-size: $h1-desktop;
	}
	span {
		font-weight: $semiboldFont;
		font-size: inherit;
	}
}

h2 {
	font-size: $h2-mobile;
	@media (min-width: $tablet-min) {
		font-size: $h2-desktop;
	}
}

h3 {
	font-size: $h3-mobile;
	margin-bottom: 30px;
	@media (min-width: $tablet-min) {
		font-size: $h3-desktop;
	}
	span {
		color: $red;
		font-weight: $semiboldFont;
	}
}

h5 {
	font-weight: $semiboldFont;
}

input {
	border-radius: 6px;
	border: none;
	outline: none;
}

img {
	max-width: 100%;
}

.container-fluid {
	max-width: 1170px;
}

.cta-icon {
	background: $primaryColor;
	border-radius: 5px;
	font-size: 18px;
	font-weight: $semiboldFont;
	display: inline-flex;
	align-items: stretch;
	color: $white;
	padding: 0;
	&:hover {
		background-color: $darkGray;
		.cta-icon__icon {
			background-color: $primaryColor;
		}
	}
	&_green {
		&:hover {
			.cta-icon__icon {
				background-color: $green;
			}
		}
		.cta-icon__icon {
			border-radius: 4px 0 0 4px;
			background: $darkGreen;
			&:hover {
				background-color: $green;
			}
		}
		.cta-icon__text {
			background: $green;
			border-radius: 0 5px 5px 0;
			&:hover {
				background: $darkGreen;
			}
		}
	}
	&__text {
		padding: 14.5px 30px;
	}
	&_left {
		.cta-icon__icon {
			border-radius: 4px 0 0 4px;
		}
	}
	&_right {
		.cta-icon__icon {
			border-radius: 0 4px 4px 0;
		}
		.cta-icon__text {
			border-radius: 4px 0 0 4px;
		}
	}
	&_full {
		width: 100%;
		.cta-icon__text {
			width: calc(100% - 50px);
			text-align: center;
		}
	}
	&_facebook {
		.cta-icon__text {
			background: #4969A8;
		}
		.cta-icon__icon {
			background: #425F98;
		}
	}

	&__icon {
		background-color: $darkGray;
		border-radius: 0 4px 4px 0;
		width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: .3s;
		i {
			font-size: 22px;
		}
	}

	&_red {
		background-color: $red;
		&:hover {
			background-color: $darkRed;
			.cta-icon__icon {
				background-color: $red;
			}
		}
		.cta-icon__icon {
			background-color: $darkRed;
		}
	}
}

.base-container {
	padding: 70px 0 40px 0;
	h3 {
		margin-bottom: 30px;
		font-weight: $extralightFont;
	}
	h5 {
		font-size: 20px;
		margin-bottom: 5px;
		font-weight: $semiboldFont;
	}
}

.border-box {
	padding: 25px;
	position: relative;
	margin-bottom: 30px;
	&:before,
	&:after {
		content: '';
		height: 4px;
		width: 100%;
		border-radius: 5px;
		background-color: #EBEBEB;
		position: absolute;
		left: 0;
		right: 0;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
	.microblog-video {
		margin-bottom: 0;
	}
}