* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	line-height: 25px;
}

button {
	border: none;
	background: none;
}
textarea {
	border: none;
	border-radius: 5px;
	outline: none;
}