
// Media Query Vars
$mobileXS-min: 320px;
$mobile-min: 480px;
$tablet-min: 768px;
$desktop-min: 992px;
$wideScreen-min: 1366px;
$retina: -webkit-min-device-pixel-ratio;
$retinaDpi: 192dpi;
//==========================
// Color Overrides
//==========================

/*DEFAULT COLORS*/
$primaryColor: #4B4B4B;
$white: #fff;
$red: #C8001A;
$darkRed: #B40017;
$green: #09B900;
$darkGreen: #08A600;
$yellow: #FEC831;
$lightGray: #D9D9D9;
$gray: #fafafa;
$darkGray: #3d3d3d;
$borderGray: #f0f0f0;
/*END DEFAULT COLORS*/


//==========================
// fonts
//==========================

$primaryFont: 'Source Sans Pro', sans-serif;
$secondaryFont: 'Kalam', cursive;

/*DEFAULT WEIGHT*/
$blackFont: 900;
$boldFont: 700;
$semiboldFont: 600;
$lightFont: 300;
$extralightFont: 200;

/*END FONT WEIGHT*/

//==========================
// Override fontsize
//==========================
$h1-desktop: 65px;
$h1-mobile: 45px;

$h2-desktop: 55px;
$h2-mobile: 30px;

$h3-desktop: 40px;
$h3-mobile: 25px;

$h4-desktop: 24px;
$h4-mobile: 24px;

$h5-desktop: 13px;
$h5-mobile: 12px;

$p-desktop: 16px;
$p-mobile: 16px;

$li-desktop: 15px;
$li-mobile: 13px;


//==========================
// Padding
//==========================
$brick-padding: 70px 0;
$button-padding: 10px 40px;